<%= render 'partials/header' %>
<%= render "partials/navbar" %>


<div class="std_background">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class = "navbar-header">
        <a class="navbar-brand" href="#">The GiftBox</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  <div class="splash_background">
    <br>
    <br>
    <br>
  <div class = "row">
  <div class= ".col-xs-12">
    <h1 class = "loginHeading">The Giftbox</h>
  </div>
    </div>
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
   <%= simple_form_for  :user, url: login_path do |f| %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.button :submit %>
    <% end %>
  </div>
  <div class="col-md-4"></div>
  </div>
    <br>
    <br>
  <div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= link_to "Sign Up", new_user_path %>
  </div>
  <div class="col-md-4">
  </div>
    <br>
    <br>
    <br>

  


  <div class="container-fluid">
    <div class="row">

      <!-- Start Left Side -->
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h3>
          Mission
        </h3>
      </div>
      <div class="col-md-4"></div>
        <br>
   <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h4>
          Our mission is to help build community, reduce waste, and help combat the dire effects of food deserts.
        </h4>
      </div>
      <div class="col-md-4"></div>
        <br>

    <div class="container-fluid">
    <div class="row">
       <div class="col-md-4"></div>
       <div class="col-md-4">
        <h3>
          What are Food Deserts?
        </h3>
        </div>
        <div class="col-md-4"></div>
        </div>
    
     <div class="container-fluid">
     <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <h4>
          The USDA defines food deserts as "urban neighborhoods and rural towns without ready access to fresh, healthy, and affordable food."
        </h4>
        </div>
        <div class="col-md-4"></div>
        </div>

  
      <div class="container-fluid">
      <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h3>
          Where are They?
        </h3>
      </div>
      <div class="col-md-4"></div>
          <br>
          <br>
      <div class="container-fluid">
      <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class = "map"> 
            <img src = "http://s17.postimg.org/nd5vnmyhr/Snip20150331_1.png">
          </div>
      </div>
      
        </h4>
        <br>

        <h3>About Us</h3>

        <br>

        
      </div>

      <!-- Start Right Side -->

      

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class = "row">
        <h4 class = "text-center">Contact Us</h4>
      </div>
      <div class="row">
        <div class="span4"></div>
        <div class="span4"><a href="mailto:shareit.wdi@gmail.com">

        <!--   <img class="center-block" src="https://s1.postimg.org/g0g1dxp2z/Contact_Us.png" /></a>
 -->
          <img class="center-block" src="http://s1.postimg.org/g0g1dxp2z/Contact_Us.png" /></a>

        </div>
        <div class="span4"></div>
      </div>
    </div>
  </nav>
</div>

