<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :username %>
  <%= f.input :password%>
  <br>
  
  f.input_field :Role
  f.input_field :giftee, as: :boolean,
  f.input_field :gifter, as: :boolean, 
  boolean_style: :inline

  <%= f.button :submit %>
<% end %>

<% end %>
