<%= render 'partials/header' %>

<%= render partial: 'partials/navbar2', locals: {user: @user} %>
<br>
<br>
<br>
<br>
<br>

<%if @user.is_gifter %>

 <%= simple_form_for  [@user, @item], url: "/users/#{@user.id}/items" do |f| %>

<div class="col-md-4"></div>
<div class="col-md-4">
<div class = "user_dropdown">


<div id = "user_submit">

    <p>Item to Donate</p> 
<div id = "product">

 <%= f.input :product, :collection => ['Apples','Orange','Lemon','Carrot','Tomato'] %>
    </div>
  </div>
    <p>Quantity</p>
    <div id = "quantity">
    <%= f.input :give_quantity %>
    </div>
    <p>Drop Off Day/Time</p>
    <div id = "drop_off">
    <%= f.input :drop_off, :collection => ['Tues/6 p.m.','Thurs/6 p.m.'] %>
     </div>
     <div id="submit" ><%= f.submit %></div>
     <% end %>
      <br>
    <br>
    <ul></ul>
</div>
</div>
<div class="col-md-4"></div>


   


<% else%>

<%= simple_form_for  :item, url: user_path, method: "post" do |f| %>


<div class = "user_dropdown">
  
  <p>Item Requested</p>
  <%= f.input :product, :collection => ['Apple','Orange','Lemon','Carrot','Tomato'] %>
  <p>Quantity</p>
  <%= f.input :want_quantity %>
  <p>Pick Up Day/Time</p>
  <%= f.input :pick_up, :collection => ['Wed/7 p.m.','Thurs/7 p.m.'] %>
</div>
  <br>
   <%= f.submit %>
  <br>
  <ul></ul>

<% end %>
<% end %>

