

<%if @user.is_gifter %>

<div class = "user_dropdown">
    <p>Item to Donate</p>
    <div class = "product">
    <%= f.input :product, :collection => ['Apple','Orange','Lemon','Carrot','Tomato'] %>
    </div>
  </div>
    <p>Quantity</p>
    <div class = "quantity">
    <%= f.input :give_quantity %>
    </div>
    <p>Drop Off Day/Time</p>
    <div class = "drop_off">
    <%= f.input :drop_off, :collection => ['Tues/6 p.m.','Thurs/6 p.m.'] %>
     </div>
</div>
    <br>
    <br>
    <ul></ul>


<div>THIS USER IS A GIFTER</div>

<% else%>
<div>THIS USER IS A GIFTEE</div>




<div class = "user_dropdown">

  <p>Item Requested</p>
  <%= f.input :product, :collection => ['Apple','Orange','Lemon','Carrot','Tomato'] %>
  <p>Quantity</p>
  <%= f.input :want_quantity %>
  <p>Pick Up Day/Time</p>
  <%= f.input :pick_up, :collection => ['Wed/7 p.m.','Thurs/7 p.m.'] %>
</div>
  <br>
  <br>
  <ul></ul>


<% end %>

