<%= render 'partials/header' %>
<%= render 'partials/navbar2' %>

<%if @user.is_gifter %>

<br>
<br>
<br>
<br>
<br>
<br>

 <%= simple_form_for  [@user, @item], url: "/users/#{@user.id}/items" do |f| %>
<div class="col-md-4"></div>
<div class="col-md-4">
<div class = "user_dropdown">
    <p>Item to Donate</p> 
    <div class = "product">

    <%= f.input :product, :collection => ['Apples','Orange','Lemon','Carrot','Tomato'] %>
    </div>
  </div>
    <p>Quantity</p>
    <div class = "quantity">
    <%= f.input :give_quantity %>
    </div>
    <p>Drop Off Day/Time</p>
    <div class = "drop_off">
    <%= f.input :drop_off, :collection => ['Tues/6 p.m.','Thurs/6 p.m.'] %>
     </div>
     <%= f.submit %>
     <% end %>
</div>
</div>
<div class="col-md-4"></div>


    <br>
    <br>
    <ul></ul>


<% else%>

<%= simple_form_for  :item, url: user_path, method: "post" do |f| %>


<div class = "user_dropdown">
  
  <p>Item Requested</p>
  <%= f.input :product, :collection => ['Apple','Orange','Lemon','Carrot','Tomato'] %>
  <p>Quantity</p>
  <%= f.input :want_quantity %>
  <p>Pick Up Day/Time</p>
  <%= f.input :pick_up, :collection => ['Wed/7 p.m.','Thurs/7 p.m.'] %>
</div>
  <br>
   <%= f.submit %>
  <br>
  <ul></ul>

<% end %>
<% end %>

