<%= render 'partials/header' %>
<%= render partial: 'partials/navbar2', locals: {user: @user} %>
<h3>products</h3>

<% @items.each do |item| %>
<%= item.product %>
<%= item.give_quantity %> 
<%= item.drop_off %>

<% end %>

<%= @sums %>
<ul class = "item_list"></ul>

  

